@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-family: Courier, sans-serif;
}

body {

    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important; 
}

.logo,
h1 {
    text-align: center;
    display: block
}

#counter,
canvas,
h1 {
    margin-top: 50px
}

#counter,
#pauseMenu,
header {
    position: fixed
}

#pauseMenu button,
.logo,
h1,
ins {
    margin-left: auto;
    margin-right: auto
}

#counter,
#imgWrapper img,
#pauseMenu.paused,
.logo,
h1 {
    display: block
}

#imgWrapper img,
#pauseMenu button,
#rS,
h4,
ins {
    position: relative
}

.cross:focus,
.cross:hover,
.set-Item.panel:focus,
.set-Item.panel:hover {
    cursor: pointer
}

a {
    color: red;
    text-decoration: none;
    font-weight: 700
}

a:focus,
a:hover {
    text-decoration: underline
}

.logo,
.logo:hover,
header a:focus {
    text-decoration: none
}

#contact {
    color: #fff;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0);
    float: right;
    padding: 8px 10px;
    transition: background .4s ease
}

#contact:focus,
#contact:hover {
    background-color: rgba(255, 255, 255, .2);
    text-decoration: none
}

header {
    height: 50px;
    background-color: orange;
    width: 100%;
    z-index: 55
}

.logo {
    color: #fff;
    width: 400px;
    font-size: 40px;
    font-weight: bolder;
    transform: translateY(-70px);
    transition: .9s transform ease
}

h1,
h2 {
    color: orange
}

#counter,
h1.GO {
    text-align: left
}

.logo.started {
    transform: translateY(0)
}

canvas {
    width: 100%;
    height: calc(100vh-50)
}

h1 {
    font-size: 5em;
    width: 85%;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff
}

h2,
h3 {
    font-size: 3em
}

#pauseMenu button,
h2,
h3 {
    text-align: center
}

h2 {
    margin-top: 9px;
    width: 90%;
    margin-left: 5%
}

h3 {
    color: #000;
    margin-top: 70px
}

h4 {
    font-size: 1.7em;
    margin-bottom: 5px
}

p,
ul {
    font-size: 1.3em;
    width: 70%;
    margin: 10px 15% 20px
}

ins {
    display: block!important
}

#imgWrapper {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 30%;
    margin-left: 35%
}

#imgWrapper img {
    width: 100%
}

#canvasWrapper {
    z-index: 2
}

#counter {
    color: #000;
    z-index: 4;
    font-size: 3em;
    margin-left: auto
}

#conseq {
    font-size: 2.5em
}

#pauseMenu {
    display: none;
    z-index: 12;
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100vh
}

#playpause {
    width: 30px;
    position: absolute;
    margin: 10px auto auto 20px;
    display: none
}

#playpause.enabled {
    display: block
}

#playpause:focus,
#playpause:hover {
    cursor: pointer
}

#pauseMenu button {
    width: 25%;
    background-color: orange;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    display: block;
    margin-top: 8vh
}

#gameOverScreen h2,
.sB {
    text-align: left
}

#pauseMenu button:focus,
#pauseMenu button:hover {
    background-color: #ffc500;
    cursor: pointer
}

#mainM {
    display: none
}

#mainM.enabled {
    display: block
}

#rS {
    display: none
}

#rS.enabled {
    display: block
}

#aboutWindow,
#gameOverScreen,
#scoreBoard,
#settingsWindow {
    display: none;
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    border: 2px solid orange;
    margin-top: 5px;
    height: calc(78vh - 60px);
    width: 60%;
    margin-left: 20%
}

#gameOverScreen {
    height: 61vh
}

.mainArea {
    overflow-y: auto;
    height: calc(80% - 60px)
}

#settingsWindow .mainArea {
    height: calc(75% - 60px)
}

.backArea {
    border-top: .5px solid #000
}

#aboutWindow.enabled,
#gameOverScreen.enabled,
#scoreBoard.enabled,
#settingsWindow.enabled {
    display: block
}

#lives {
    position: absolute;
    width: 25%;
    margin-left: 75%;
    z-index: 8;
    margin-top: 65px
}

.nrOfLives {
    width: 60px;
    float: right;
    margin-right: 10px
}

.nrOfLives.disabled {
    display: none
}

.set-Item.panel {
    width: 90%;
    position: relative;
    margin-left: 5%;
    border: 2px solid #000;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: .3s height ease
}

#settingsWindow h3 {
    text-align: left;
    margin-left: 5%;
    margin-top: 5px;
    font-size: 2em;
    margin-bottom: 40px
}

.difficulty {
    color: #000;
    font-weight: 700;
    list-style: none;
    padding: 4px 5px;
    min-height: 40px
}

.ui-button,
.ui-widget-content,
.ui-widget-header {
    font-family: 'Courier New', Courier, monospace!important;
    font-weight: 700!important
}

.difficulty:last-child {
    margin-bottom: 30px
}

.difficulty.selected {
    background-color: #000;
    color: #fff
}

.difficulty:focus,
.difficulty:hover {
    background-color: orange;
    color: #fff
}

#aboutback,
#default,
#save,
#showLeaderBoard,
.back,
.finish {
    margin-top: calc(6vh - 30px)!important;
    margin-bottom: 0;
    width: 46%!important;
    margin-left: 27%!important;
    overflow: hidden!important
}

.setArrow {
    transition: .3s transform ease;
    display: inline-block
}

.setArrow.enabled {
    transform: rotate(90deg)
}

.diaBox {
    display: none;
    position: absolute
}

.subPanel {
    height: 0;
    display: none
}

.subPanel.enabled {
    height: auto;
    display: block
}

.ui-dialog {
    border: 1px solid #fff!important;
    background-color: #000!important
}

.ui-widget-content,
.ui-widget-header {
    color: #fff;
    background-color: #000!important
}

.ui-dialog-buttonpane {
    background-color: #000!important;
    border-width: 0!important
}

.ui-button {
    background-color: orange!important;
    color: #fff!important;
    border: 2px solid #fff!important
}

.ui-button:focus,
.ui-button:hover {
    background-color: #ffc500!important
}

.ui-dialog-titlebar-close {
    background-color: #fff!important;
    color: #000!important
}

.sliderHolder {
    width: 37%;
    margin-bottom: 20px;
    margin-left: 8%;
    margin-top: 0;
    display: inline-table
}

.volumeSlider {
    height: 20px;
    width: 100%;
    border: 2px solid #000;
    display: inline-block
}

.volumeSlider div {
    background-color: orange!important;
    height: 20px!important
}

.volumeSlider span {
    height: 25px!important;
    width: 20px!important;
    background-color: #000!important;
    border: 1px solid #000;
    position: relative;
    display: inline-table
}

.change,
.controlDesc {
    display: inline-table!important
}

#endPoints {
    font-size: 2.5em;
    margin-top: 5px;
    margin-bottom: 5px
}

.control {
    border-top: 1px solid #000
}

.control.selected {
    background-color: #000
}

.change {
    margin: 9px 0 9px 12%!important;
    height: 86px;
    z-index: 100
}

.controlDesc {
    width: 55%;
    font-size: 1.8em!important;
    margin: 30px 0 30px 5%!important
}

.controlDesc.selected {
    color: #fff
}

.CharSelect {
    width: 190px;
    padding: 10px;
    display: inline-block;
    margin: auto auto 20px 20px
}

.CharSelect.selected {
    background-color: #000
}

.CharSelect p {
    color: #000;
    font-weight: 700;
    text-align: center
}

.CharSelect.selected:focus,
.CharSelect.selected:hover,
.CharSelect:focus,
.CharSelect:hover {
    background-color: orange
}

.CharSelect.selected:focus>p,
.CharSelect.selected:hover>p,
.CharSelect:focus>p,
.CharSelect:hover>p {
    color: #fff!important
}

.CharSelect.selected p {
    color: #fff
}

.preview {
    display: block;
    position: relative;
    margin: auto
}

.CurrentChoice {
    height: 80px;
    width: 80px;
    margin: 10px 0;
    display: inline-block;
    position: absolute;
    border: 2px solid #000;
    background-color: #fff
}

.buttonSelected {
    font-size: 1.5em;
    margin-top: 5px
}

.buttonIcon {
    width: 80%;
    margin: 10%;
    position: relative
}

.sB {
    width: 95%;
    margin-left: 5%;
    font-size: 1.5em;
    border-spacing: 20px 0
}

#tr--1,
#tr_2--1 {
    color: orange!important
}

#submitWrapper {
    z-index: 300;
    width: 100%;
    height: 100vh;
    display: none;
    margin: 0;
    background-color: rgba(0, 0, 0, .7);
    position: absolute
}

#captcha,
.scoreSubmit input {
    display: block;
    margin-right: auto
}

#submitWrapper.enabled {
    display: block
}

.submitWindow {
    width: 55%;
    margin-top: 15vh;
    margin-left: 22.5%;
    display: block;
    background-color: #fff;
    border: 1px solid orange
}

#captcha {
    margin-left: auto;
    width: 300px;
    margin-top: 20px
}

.scoreSubmit {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px
}

.scoreSubmit input {
    text-align: center;
    font-size: 23px;
    margin-left: auto;
    width: 60%;
    height: 35px
}

.bottomButtons {
    width: 80%;
    margin: 10px 10% 5px
}

.scoreButton {
    margin-top: 0!important;
    display: inline-block!important;
    position: relative;
    width: 45%!important;
    margin-left: 2.5%!important
}

#submitToServer {
    margin-left: 5%!important
}

.scoreSubmit h3 {
    margin-top: 10px!important
}

.statusWindow {
    width: 100%;
    display: none
}

.statusWindow.enabled {
    display: block
}

#status {
    width: 80%;
    text-align: left;
    margin: 4px 10% 10px;
    color: #006400;
    font-size: 14px;
    font-weight: bolder
}

.ui-progressbar {
    background-color: orange!important
}

.progressBar {
    width: 80%;
    height: 2em;
    margin-top: 150px;
    margin-left: 10%;
    position: relative;
    border: 1px solid #000!important
}

#retryingIn.disabled,
.progressBar.disabled,
.sB.disabled {
    display: none!important
}

.progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: 700;
    text-shadow: 1px 1px 0 #fff
}

.errorLoading {
    display: none
}

.errorLoading.enabled,
.instructions {
    display: block
}

#errorCode {
    font-size: 4.9em;
    font-weight: 700!important;
    color: red;
    -webkit-text-stroke-width: 0
}

#retryingIn {
    color: red;
    margin-top: 25px!important
}

.instructions {
    bottom: 20px;
    width: 60%;
    background-color: #fff;
    margin-left: 20%;
    position: fixed;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.instructions.enabled {
    opacity: 1
}

.instructions .CurrentChoice {
    width: 80px;
    height: 60px;
    position: relative;
    display: inline-block;
    margin: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: orange;
    vertical-align: bottom
}

.instructions p {
    width: 90%;
    margin: 3px 5% 15px
}

.CurrentChoice img {
    width: 50px;
    height: 50px
}

.cross {
    position: absolute;
    right: 5px;
    margin-top: 5px;
    width: 16px
}

.controlWrapper {
    position: fixed;
    height: 230px;
    width: 100%;
    bottom: 0;
    z-index: 9;
    pointer-events: none;
    display: none
}

.controlWrapper.enabled {
    display: block
}

.controlPad {
    width: 210px;
    height: 210px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none
}

.controlPad.wide {
    margin-right: 0;
    right: 0
}

.move {
    display: inline-table;
    margin: 0;
    padding: 0;
    width: 70px;
    position: relative;
    height: 70px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 50%;
    pointer-events: auto;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
}

#move-0 {
    transform: rotate(-180deg);
    margin-left: 0;
    margin-top: 5px
}

#move-1 {
    position: absolute;
    right: calc(50% - 105px);
    margin-top: 5px
}

#move-2 {
    display: block;
    transform: rotate(-90deg);
    margin-left: auto;
    margin-right: auto
}

#move-3 {
    margin-top: 0;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(90deg)
}

.insImg {
    display: inline-block;
    width: 40px
}

.scoreListSend {
    color: orange;
    font-size: 1em !important;
    cursor: pointer;
    margin: 0 0 0 11px !important;
    width: auto;
    white-space: nowrap;
}

.scoreListSend:hover, .scoreListSend:focus {
    text-decoration: underline
}

@media all and (max-width:1300px) {
    h1 {
        font-size: 4em;
        width: 92%;
        margin-left: 4%
    }
    #pauseMenu button {
        width: 40%;
        margin-left: 30%
    }
    #aboutback,
    #default,
    #save,
    #showLeaderBoard,
    .back,
    .finish {
        width: 60%!important;
        margin-left: 20%!important
    }
    #aboutWindow,
    #gameOverScreen,
    #scoreBoard,
    #settingsWindow {
        width: 70%;
        margin-left: 15%
    }
    .controlDesc {
        width: 48%
    }
    .change {
        margin: 9px 0 9px 17%!important;
        display: inline-table!important;
        height: 86px;
        z-index: 100;
        width: 28%!important
    }
    .sB {
        font-size: 1.2em;
        border-spacing: 13px 0
    }
}

@media all and (max-width:900px) {
    #mainM {
        margin-top: 2vh
    }
    #main-0 {
        margin-top: 40px!important
    }
    #main-0.wide {
        margin-top: 0!important
    }
    #aboutWindow ul,
    p {
        font-size: 1.1em!important;
        width: 90%;
        margin-left: 5%
    }
    h1 {
        font-size: 2.7em;
        width: 92%;
        margin-left: 4%;
        -webkit-text-stroke-width: 1.5px
    }
    h2 {
        font-size: 1.8em
    }
    #settingsWindow h3 {
        margin-left: 3%;
        font-size: 1.5em;
        margin-bottom: 27px
    }
    .controlDesc {
        font-size: 1.3em!important;
        margin-left: 3%!important;
        width: 40%
    }
    h4 {
        font-size: 1.3em
    }
    #gameOverScreen p {
        margin-bottom: 2px
    }
    #conseq {
        margin-bottom: 0;
        font-size: 1.6em
    }
    #endPoints {
        font-size: 1.6em;
        margin-top: 25px;
        margin-bottom: 4px
    }
    #endPoints.wide {
        font-size: 1.5em;
        margin-top: 2px;
        margin-bottom: 2px
    }
    .sliderHolder {
        display: block;
        width: 90%;
        margin-left: 5%
    }
    #settingsWindow ul {
        width: 98%;
        margin-left: 1%;
        font-size: 16px!important
    }
    #pauseMenu button {
        padding: 2px 0;
        width: 70%;
        margin-left: 15%;
        font-size: 22px;
        margin-top: calc(19vh - 60px)
    }
    #aboutWindow,
    #gameOverScreen,
    #scoreBoard,
    #settingsWindow {
        width: 100%!important;
        margin-left: 0!important;
        margin-top: auto;
        bottom: 0;
        height: calc(100vh - 60px);
        border-left: none;
        border-right: none
    }
    .change {
        margin: 9px 0 9px 18%!important;
        height: 46px;
        z-index: 100;
        width: 33%
    }
    .buttonSelected {
        font-size: 1.2em
    }
    .CurrentChoice {
        height: 40px;
        width: 60px;
        margin: 19px 0
    }
    .logo {
        margin-top: 7px;
        width: 300px;
        font-size: 30px
    }
    .mainArea.wide {
        height: calc(64% - 60px)
    }
    #settingsWindow .mainArea.wide {
        height: calc(60% - 60px)
    }
    .backArea {
        overflow-y: auto
    }
    #contact {
        font-size: 20px;
        padding: 14px 10px
    }
    #aboutback,
    #default,
    #save,
    #showLeaderBoard,
    .back,
    .finish {
        font-size: 19px!important;
        margin-top: 3px!important;
        overflow-y: auto
    }
    #save {
        margin-top: 3px!important
    }
    .CharSelect {
        width: 36%;
        margin-left: 3%
    }
    .preview {
        height: 80px
    }
    .sB {
        font-size: 1.3em;
        border-spacing: 10px 0;
        width: 98%;
        margin-left: 1%
    }
    .submitWindow {
        width: 100%;
        margin-top: 50px;
        margin-left: 0;
        height: calc(100vh - 55px)
    }
    .scoreSubmit input {
        width: 75%
    }
    .instructions {
        width: 100%;
        margin-left: 0;
        bottom: 0
    }
    #lives {
        margin-left: auto;
        right: 0;
        width: 210px
    }
    #errorCode {
        font-size: 2.9em
    }
    #retryingIn {
        font-size: 2em
    }
    #finish-0 {
        margin-top: calc(55vh - 250px)!important
    }
    #finish-0.wide {
        margin-top: 3px!important
    }
    .nrOfLives {
        width: 45px
    }
}

@media all and (max-width:650px) {
    #lives {
        width: 40px
    }
    .nrOfLives {
        width: 39px;
        margin-right: 0
    }
}

@media all and (max-width:470px) {
    h1 {
        font-size: 1.9em;
        width: 96%;
        margin-left: 2%;
        -webkit-text-stroke-width: 1.2px
    }
    #imgWrapper {
        width: 60%;
        margin-left: 20%
    }
    .change {
        font-size: 19px!important;
        margin: 7px 0 7px 25%!important;
        width: 34%
    }
    #settingsWindow h3 {
        font-size: 1.3em
    }
    h4 {
        font-size: 1.1em
    }
    .logo {
        display: none
    }
    .sB {
        width: 100%;
        margin-left: 0;
        font-size: 1.1em
    }
    .scoreSubmit input {
        width: 94%
    }
    .scoreButton {
        margin-top: 0!important;
        margin-bottom: 20px!important;
        display: block!important;
        width: 100%!important;
        margin-left: 0!important
    }
    #submitToServer {
        margin-left: 0!important
    }
}